* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    border: 2px solid rgb(52, 98, 108);
    margin: 10px;
    padding: 10px;
    position: relative;
    background-color: rgb(207, 211, 206);
}

header {
    border: 2px solid rgb(52, 98, 108);
    margin: 2rem;
    padding: 2rem;
    display: inline-block;
    background-color: rgb(198, 180, 151);
}

img {
    border-radius: 15%;
    width: 250px;
}

article {
    border: 2px solid rgb(52, 98, 108);
    background-color: rgb(198, 180, 151);
    padding: 1rem;
    margin: 2rem;
}

h3 {
    color: rgb(52, 98, 108);
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-size: 25px;
    padding-bottom: 1rem;
}

p {
    color: rgb(52, 98, 108);
    font-family: 'Noto Serif', serif;
    font-size: 15px;
}

footer{
    text-align: center;
    margin-top: 8rem;
}